.bannerwrapper {
    background-size: cover;
    min-height: 500px;
    position: relative;
    align-items: center;
    padding: 25px;
    padding-top: 150px;

    .bannercontentwrapper {
        max-width: 400px;
    }

    .row-img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        background-size: cover;
        background-color: #ebdcdb;

        &.tb-show-only{
            display: none;
        }         
    }

    @media only screen and ( max-width: 768px ) and ( min-width: 426px ) {
        min-height: 415px;
        padding-top: 0;
        overflow: hidden;

        .row-img {
            &.tb-show-only {
                display: flex;
                background-size: cover;
            }
        }

        .col-half {
            align-items: flex-end;
        }
    }

    @media only screen and ( max-width: 768px ) {
        .row-img {
            background-size: cover;
            background-repeat: no-repeat;
        }

        .col-half {
            width: 50%;
        }

        .bannercontentwrapper {
            p {
                font-size: 13px;
            }
        }
    }

    .col-half {
        z-index: 1;
    }

    @media screen and ( max-width: 425px ) {
        text-align: center;
        padding-top: 250px;
        min-height: 600px;

        .row-img {
            top: -50px;
        }
    }
}