.bannerwrapper {
    background-size: cover;
    min-height: 500px;
    position: relative;
    align-items: center;

    .bannercontentwrapper {
        max-width: 400px;
    }

    .row-img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        background-size: contain;
    }

    .col-half {
        z-index: 1;
    }
}