@font-face { font-family: MilanoReg; src: url('/assets/MTTMilano-Regular.otf'); }
@font-face { font-family: MilanoMed; src: url('/assets/MTTMilano-Medium.otf'); }
@font-face { font-family: Genre; src: url('/assets/Genre.otf'); }
body{
  font-family: Genre;
}

h1 {
  font-weight: normal;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .col-half {
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .col-fifth {
    width: calc(100% / 5);
  }
}

@media only screen and ( min-width: 426px ){
  .lg-hide {
    display: none;
  }
}

@media only screen and ( max-width: 425px ){
  .grid {
    flex-direction: column;
    .col-half {
      width: 100%;
      min-height: 400px;
    }
  }

  .sm-hide {
    display: none;
  }
}