.footerwrapper {
    height: 290px;
    background: #F9F8F6;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: MilanoReg;

    .logowrapper {
        font-size: 10px;

        div {
            margin-top: 25px;
        }
    }

    input {
        border-radius: 0;
        font-size: 11px;
    }

    .grid {
        height: 100%;
        align-items: flex-start;
        padding-top: 80px;
    }

    .col-quarter {
        flex-direction: row;
        justify-content: space-around;
    }

    .links {
        min-width: 275px;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    li{
        list-style: none;
        font-family: MilanoReg;
        font-size: 11px;
        margin-bottom: 10px;

        a{
            color: #949497;
            text-decoration: none;
        }
    }

    .social {
        margin-top: 5px;
    }

    .social-col{ 
        width: 15%; 

        img.social-icon {
            margin-right: 10px;
            max-height: 15px;
            width: auto;
            height: auto;
            max-width: 15px;
        }
    }

    .newsletter-col{
        width: 35%;
        padding-right: 15px;

        .newsletter {
            height:135px;
        }
    }
}

@media only screen and ( max-width: 1200px ) and ( min-width: 769px ) {
    .newsletter .newsletterwrapper{
        input {
            min-width: 150px;
        }

        a.ctabutton {
            width: 125px;
            height: 27px;
            font-size: 10px;
        }
    }

    .footerwrapper {
        .logo-col{
            width: 12%;

            img {
                width: 75px;
            }
        }

        .links {
            min-width: 225px;
        }

        .links-col {
            width: 33%;
        }
    }
}

@media only screen and ( max-width: 968px ) {
    .newsletter .newsletterwrapper{
        input {
            min-width: 130px;
        }
    }
}

@media only screen and ( max-width: 768px ) { 
    
    .footerwrapper {
        height: auto;

        .grid {
            padding-top: 0;
        }

        .links {
            width: 100%;
            li {
                width: 50%;
            }
        }

        .logowrapper {
            display: flex;
            height: 125px;

            img {
                width: 40px;
                margin-right: 15px;
            }

            div {
                display: flex;
                align-items: center;
                margin-top: 0;
            }

            p {
                margin: 0;
            }
        }

        div.newsletter-col {
            margin-bottom: 15px;

            .newsletter {
                width: 100%;
                height: auto;
                min-height: 75px;
            }

            width: 100%;
        }

        .logo-col{
            width: 50%;
            justify-content: flex-start;
        }

        .links-col {
            margin-bottom :15px;
        }

        .social-col{ 
            width: 50%; 
            justify-content: flex-start;
        }
    }
}

@media only screen and ( max-width: 425px ) {
    .footerwrapper {
        .grid {
            flex-direction: row;
        }

        .col-half {
            flex-direction: column;

            .links {
                width: 100%;
            }
        }
    }
}