.footerwrapper {
    height: 290px;
    background: #F9F8F6;
    align-items: center;
    justify-content: center;
    padding: 15px;

    input {
        border-radius: none;
    }

    .grid {
        height: 100%;
        align-items: flex-start;
        padding-top: 80px;
    }

    .col-quarter {
        flex-direction: row;
        justify-content: space-around;
    }

    .links {
        min-width: 275px;
        height: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    li{
        list-style: none;
        font-family: MilanoReg;
        font-size: 14px;
        margin-bottom: 5px;

        a{
            color: #949497;
            text-decoration: none;
        }
    }

    .social-col{ 
        width: 15%; 

        img.social-icon {
            margin-right: 10px;
            max-height: 20px;
            width: auto;
            height: auto;
            max-width: 15px;
        }
    }

    .newsletter-col{
        width: 35%;
        padding-right: 15px;

        .newsletter {
            height:135px;
        }
    }
}

@media only screen and ( max-width: 768px ) { 
    .footerwrapper {
        height: auto;

        .grid {
            padding-top: 0;
        }

        .links {
            width: 100%;
            li {
                width: 50%;
            }
        }

        div.newsletter-col {
            margin-bottom: 15px;

            .newsletter {
                width: 100%;
            }

            width: 100%;
        }

        .logo-col{
            width: 50%;
            justify-content: flex-start;
        }

        .links-col {
            margin-bottom :15px;
        }

        .social-col{ 
            width: 50%; 
            justify-content: flex-start;
        }
    }
}

@media only screen and ( max-width: 425px ) {
    .footerwrapper {
        .grid {
            flex-direction: row;
        }

        .col-half {
            flex-direction: column;

            .links {
                width: 100%;
            }
        }
    }
}